body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background:linear-gradient(cyan,pink);
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.form input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 8px 12px;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #005bb5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    background-color:antiquewhite;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0078D7;
    color: white;
}
